<% provide(:title, "Dashboard") %>

<div class="profile-info">
  <%= image_tag "#{current_user.avatar}&height=130&width=130", class: 'rounded-img' %>
  <h2 class="heading"><%= current_user.name%></h2>
  <h3 class="subheading">Player 1</h3>
  
  <ul class="left">
    <li>NHL Hogeschool</li>
    <li>Klas 5C</li>
    <li>26 Jaar</li>
    <li>Gebruiker sinds: <%= current_user.created_at.strftime("%d-%m-%Y") %></li>
  </ul>
  
  <ul class="right">
    <li>Team X</li>
    <li>Team Achter de Hoven</li>
    <li>Team cool</li>
  </ul>
  <hr class="clear">
  <div class="profile-statistics">
    <ul>
      <li>
        <%= current_user.battles.count %> <span class="small">Battles</span>
      </li>
      <li>
        1130 <span class="small">Punten</span>
      </li>
      <li>
        <%= current_user.battles.count %> <span class="small">Teams</span>
      </li>            
    </ul>
  </div>
</div>