<% if (current_user.school == nil) %>
	<div class="extra_info">
		<% unless (current_user.parental_approval == true) %>
			<% provide(:title, "Extra Informatie") %>
			<h1>Extra informatie</h1>
			<p>Voordat je aan de slag kan gaan met Energybattle moet je nog een aantal gegevens invullen. Zonder deze gegevens
			kunnen er helaas geen battles begonnen worden. Vul de gegevens zo compleet en eerlijk mogelijk in!</p>
			<p>Nog geen 18 of niet uitwonend? Vraag dan toestemming aan je ouders om mee te mogen doen.</p><br/>
			<%= render 'extra_info' %>
			<%= link_to destroy_user_session_path, :method => :delete, class: "fb-btn" do %>
				<%= fa_icon('facebook-square', class: 'fa-fw') %> Log uit en verlaat
			<% end %>
		<% end %>
	</div>
<% else %>
	<% provide(:title, "Dashboard") %>

	<% if @current_user_ended_battles.any? %>
			<table>
			<h1>Battles die ik heb gespeeld</h1>
			  <%= render 'battles/table_name_battle' %>
				<% @current_user_ended_battles.each do |s| %>
					<tr>
						<td><%= link_to s.title, battle_path(s) %></td>
						<td><%= s.theme %></td>
						<td><%= s.game_type %></td>
						<td><%= s.status %></td>
						<td><%= find_host(s.host_id).name %></td>

						<% if s.start_date.present? %>
							<td><%= s.start_date.strftime('%d %B %Y') %></td>
						<% else %>
							<td>Geen start datum.</td>
						<% end %>

						<% if s.end_date.present? %>
							<td><%= s.end_date.strftime('%d %B %Y') %></td>
						<% else %>
							<td>Geen eind datum.</td>
						<% end %>
						<td><%= s.users.count %> / <%= s.player_limit %></td>
					</tr>
				<% end %>
			<table>
	<% end %>

	<% if @current_user_host_battles.any? %>
			<table>
			<h1>Battles die ik host</h1>
			  <%= render 'battles/table_name_battle' %>
				<% @current_user_host_battles.each do |s| %>
					<tr>
						<td><%= link_to s.title, battle_path(s), class: 'battle_name' %></td>
						<td><%= s.theme %></td>
						<td><%= s.game_type %></td>
						<td><%= s.status %></td>
						<td><%= find_host(s.host_id).name %></td>

						<% if s.start_date.present? %>
							<td><%= s.start_date.strftime('%d %B %Y') %></td>
						<% else %>
							<td>Geen start datum.</td>
						<% end %>

						<% if s.end_date.present? %>
							<td><%= s.end_date.strftime('%d %B %Y') %></td>
						<% else %>
							<td>Geen eind datum.</td>
						<% end %>
						<td><%= s.users.count %> / <%= s.player_limit %></td>
					</tr>
				<% end %>
			<table>
	<% end %>

	<br/>
	<% if @battles_joined %>
	<% @battles_joined.each do |s| %>
		<% unless s.host_id == current_user.id %>
		  <table>
		    <h1>Battles dat ik heb gejoined</h1>
	    	  <%= render 'battles/table_name_battle' %>
	    	<tr>
				<td><%= link_to s.title, battle_path(s) %></td>
				<td><%= s.theme.capitalize %></td>
				<td><%= s.status.capitalize %></td>
				<td><%= find_host(s.host_id).name %></td>
				<% if s.start_date.present? %>
					<td><%= s.start_date.strftime('%d %B %Y') %></td>
				<% else %>
					<td>Geen start datum.</td>
				<% end %>
				<% if s.end_date.present? %>
					<td><%= s.end_date.strftime('%d %B %Y') %></td>
				<% else %>
					<td>Geen eind datum.</td>
				<% end %>
				<td>
					<%= s.users.count %> / <%= s.player_limit %>
					<% if s.host_id == current_user.id %>
						(Host)
					<% end %>
				</td>
			</tr>
	 	  <table>
		<% end %>
	<% end %>
	<% end %>

	<%= render 'users/user_profile' %>
<% end %>