<% if current_user.parental_approval == false || current_user.school == nil %>
	<% provide(:title, "Extra Informatie") %>
  <div class="extra_info">
  	<h1>Welkom op Energybattle.</h1>
  	<p>Voordat je aan de slag kan gaan met Energybattle moet je nog een aantal gegevens invullen.</p>
  	<p>Ook moet je toestemming vragen aan je ouders als je nog geen 18 bent</p><br>
  	<%= render 'extra_info' %>
  	<%= link_to "Uitloggen", destroy_user_session_path, :method => :delete, class: "fb-btn" %>
  </div>

<% else %>
	<div class="profile-info">
	  <%= image_tag "#{current_user.avatar}&height=130&width=130", class: 'rounded-img' %>
	  <h2 class="heading"><%= current_user.name%></h2>
	  <h3 class="subheading">Player 1</h3>

	  <ul class="left">
	    <li><%= current_user.school %></li>
	    <li><%= current_user.grade %></li>
	    <li><%= current_user.birthday %></li>
	    <li>Gebruiker sinds <br/> <%= current_user.created_at.strftime("%d-%m-%Y") %></li>
	  </ul>

	  <ul class="right">
	    <li><%= pluralize(current_user.family_size, 'persoon', 'personen') %> in huis</li>
	    <li>Team cool</li>
	  </ul>
	  <hr class="clear">
	  <div class="profile-statistics">
	    <ul>
	      <li>
	        12 <span class="small">Level</span>
	      </li>
	      <li>
	        11300 <span class="small">Punten</span>
	      </li>
	      <li>
	        <%= current_user.battles.count %> <span class="small">Battles</span>
	      </li>
	    </ul>
	  </div>
	</div>
	<%#= render "battles/statistics/dashboard_graphs" %>
	<div class="dashboard-tables">

	  	<% provide(:title, "Dashboard") %>

	  <% if @current_user_host_battles.any? %>
	    		<table>
	    		<h1>Battles die ik host</h1>
	    		  <%= render 'battles/table_name_dashboard' %>
	    			<% @current_user_host_battles.each do |s| %>
	    				<tr>
	    					<td><%= link_to s.title, battle_path(s) %></td>
	    					<!-- <td><%= s.theme %></td> -->
	    					<!-- <td><%= s.game_type %></td> -->
	    					<td><%= s.status %></td>
	    					<!-- <td><%= find_host(s.host_id).name %></td> -->

	    					<% if s.start_date.present? %>
	    						<td><%= s.start_date.strftime('%d %B %Y') %></td>
	    					<% else %>
	    						<td>Geen start datum.</td>
	    					<% end %>

	    					<% if s.end_date.present? %>
	    						<td><%= s.end_date.strftime('%d %B %Y') %></td>
	    					<% else %>
	    						<td>Geen eind datum.</td>
	    					<% end %>
	    					<td><%= s.users.count %> / <%= s.player_limit %></td>
	    				</tr>
	    			<% end %>
	    		<table>
	  <% end %>

	  <% if @battles_joined %>
	    <table>
	      <h1>Battles dat ik heb gejoined</h1>
	    	  <%= render 'battles/table_name_dashboard' %>
	      <% @battles_joined.each do |s| %>
	    	<tr>
	  			<td><%= link_to s.title, battle_path(s) %></td>
	  			<!-- <td><%= s.theme.capitalize %></td> -->
	  			<td><%= s.status.capitalize %></td>
	  			<!-- <td><%= find_host(s.host_id).name %></td> -->
	  			<% if s.start_date.present? %>
	  				<td><%= s.start_date.strftime('%d %B %Y') %></td>
	  			<% else %>
	  				<td>Geen start datum.</td>
	  			<% end %>
	  			<% if s.end_date.present? %>
	  				<td><%= s.end_date.strftime('%d %B %Y') %></td>
	  			<% else %>
	  				<td>Geen eind datum.</td>
	  			<% end %>
	  			<td>
	  				<%= s.users.count %> / <%= s.player_limit %>
	  				<% if s.host_id == current_user.id %>
	  					(Host)
	  				<% end %>
	  			</td>
	  		</tr>
	      <% end %>
	    <table>
	  <% end %>

	  <% if @current_user_ended_battles.any? %>
	  		<table>
	  		<h1>Battles die ik heb gespeeld</h1>
	  		  <%= render 'battles/table_name_dashboard' %>
	  			<% @current_user_ended_battles.each do |s| %>
	  				<tr>
	  					<td><%= link_to s.title, battle_path(s) %></td>
	  					<!-- <td><%= s.theme %></td> -->
	  					<!-- <td><%= s.game_type %></td> -->
	  					<td><%= s.status %></td>
	  					<!-- <td><%= find_host(s.host_id).name %></td> -->

	  					<% if s.start_date.present? %>
	  						<td><%= s.start_date.strftime('%d %B %Y') %></td>
	  					<% else %>
	  						<td>Geen start datum.</td>
	  					<% end %>

	  					<% if s.end_date.present? %>
	  						<td><%= s.end_date.strftime('%d %B %Y') %></td>
	  					<% else %>
	  						<td>Geen eind datum.</td>
	  					<% end %>
	  					<td><%= s.users.count %> / <%= s.player_limit %></td>
	  				</tr>
	  			<% end %>
	  		<table>
	  <% end %>
	</div>
<% end %>