<% provide(:title, "Dashboard") %>

<% if @battles.where(host_id: current_user.id).any? %>
		<table>
		<h1>Battles die ik host</h1>
		  <%= render 'battles/table_name_battle' %>
			<% @battles.where(host_id: current_user.id).each do |s| %>
				<tr>
					<td><%= link_to s.title, battle_path(s) %></td>
					<td><%= s.theme %></td>
					<td><%= s.status %></td>
					<td><%= find_host(s.host_id).name %></td>

					<% if s.start_date.present? %>
						<td><%= s.start_date.strftime('%d %B %Y') %></td>
					<% else %>
						<td>Geen start datum.</td>
					<% end %>

					<% if s.end_date.present? %>
						<td><%= s.end_date.strftime('%d %B %Y') %></td>
					<% else %>
						<td>Geen eind datum.</td>
					<% end %>
					<td><%= s.users.count %> / <%= s.player_limit %></td>
				</tr>
			<% end %>
		<table>
<% end %>

<br/>

<% @battles_joined.map do |s| %>
	<% unless s.host_id == current_user.id %>
	  <table>
	    <h1>Battles dat ik heb gejoined</h1>
    	  <%= render 'battles/table_name_battle' %>
    	<tr>
			<td><%= link_to s.title, battle_path(s) %></td>
			<td><%= s.theme.capitalize %></td>
			<td><%= s.status.capitalize %></td>
			<td><%= find_host(s.host_id).name %></td>
			<% if s.start_date.present? %>
				<td><%= s.start_date.strftime('%d %B %Y') %></td>
			<% else %>
				<td>Geen start datum.</td>
			<% end %>
			<% if s.end_date.present? %>
				<td><%= s.end_date.strftime('%d %B %Y') %></td>
			<% else %>
				<td>Geen eind datum.</td>
			<% end %>
			<td>
				<%= s.users.count %> / <%= s.player_limit %>
				<% if s.host_id == current_user.id %>
					(Host)
				<% end %>
			</td>
		</tr>
 	  <table>
	<% end %>
<% end %>

<br/>
<br/>


<div>
This example creates a story on Facebook using the
<a href="https://developers.facebook.com/docs/reference/ogaction/og.likes">
<code>og.likes</code></a> API.  That story will just say
that you like an
<a href="http://techcrunch.com/2013/02/06/facebook-launches-developers-live-video-channel-to-keep-its-developer-ecosystem-up-to-date/">
article on TechCrunch</a>.  The story should only
be visible to you.
</div>

<div>
<input
  type="button"
  value="Create a story with an og.likes action"
  onclick="postLike();">
</div>

<div id="result"></div>