<div class="battle_show" id="team_margin">
	<table>
		<tr>
			<td>Avatar</td>
			<td>Naam</td>
			<td>Score</td>
			<td>Besparing</td>
		</tr>

		<% find_team_members(team).each do |team| %>
			<tr>
				<td><%= image_tag team.user.avatar, class: 'avatar' if team.user.avatar? %></td>
				<td><%= team.user.name %></td>
				<% unless team.user.readings %>
					<td><%= team.user.readings.where(:battle_id => @battle.id).first.amount %></td>
				<% end %>
				<td></td>
				<td><%= number_to_percentage 1 - ((team.user.readings.sum(:amount).to_f) / 12500) %></td>
			</tr>
		<% end %>
	</table>
  <td><%= render "team_relation/join_team_prepare", team: "#{team}_team" unless current_user_is_host %></td>
</div>
