<div class="subheading"><%= "Team #{team}"  %></div>
<%= render "battles/users/search_members", team: team if current_user_is_host %>
<ul class="teams-headrow">
  <li class="team-head1">Speler</li>
  <li class="team-head2">Score</li>
  <li class="team-head3">Status</li>
</ul>
<% find_team_members(team).each do |team|%>
    <div class="member">
        <%= image_tag team.user.avatar if team.user.avatar == true  %>
        <ul>
            <li>
              <%= link_to team.user.name, team.user %>
              <% if team.user.id == current_user.id %>
                <%= link_to "✖", team, method: :delete, data: { confirm: "Wil je echt deze battle verlaten?"}, class: "destroy", title: 'Team verlaten' %>
                <%= link_to "⇐⇒", switch_team_relation_path(team), class: "switch", method: :patch, title: 'Ruilen van team' unless current_user_is_host %>
              <% elsif team.user. id != @battle.host_id %>
                <%= link_to fa_icon('eject', class: 'fa-fw'), kick_request_battle_path(@battle, user_id: team.user.id), method: :patch %>
              <% else %>
              <% end %>
              <%= image_tag("icons/Message.svg", class: "icon-message", title: 'Uitgenodigd') if team.status == "invited" %>
            </li>
        </ul>
    </div>
<% end %>
<%= render "team_relation/join_team", team: "#{team}_team" unless current_user_is_host %>
