<div class="subheading"><%= "Team #{team}"  %></div>
<%= render "search_members", team: team if current_user_is_host %>
<ul class="teams-headrow">
  <li class="team-head1">Speler</li>
  <li class="team-head2">Score</li>
  <li class="team-head3">Status</li>
</ul>
<% find_team_members(team).each do |team|%>
    <div class="member">
        <%= image_tag team.user.avatar if team.user.avatar == true  %>
        <ul>
            <li>
              <%= team.user.name %>
              <% if team.user.id == current_user.id %>
                <%= link_to "✖", team, method: :delete, data: { confirm: "Wil je echt deze battle verlaten?"}, class: "destroy" %>
                <%= link_to "⇐⇒", switch_team_relation_path(@battle, user_id: team.user.id, battle_id: @battle.id), class: "switch", method: :patch unless current_user_is_host %>
              <% elsif team.user.id != @battle.host_id %>
                <%= link_to 'Kick', kick_request_battle_path(@battle, user_id: team.user.id), method: :patch %>
              <% else %>
                <%= image_tag("icons/Message.svg", class: "icon-message") if team.status == "invited" %>
              <% end %>
            </li>
        </ul>
    </div>
<% end %>
<%= render "team_relation/join_team", team: "#{team}_team" %>
