
<!--
<div class="subheading">Meterstand (<%= @reading.created_at.to_date.strftime("%d %B %Y") %>)</div>
De meterstand op <%= @reading.created_at.to_date %> is <strong><%= @reading.amount %></strong> kWh.<br/>

Foto:<br/>
<%= @reading.meter %><br/>
<%= @reading %><br/>
<%= @meter %><br/>
<%= image_tag @reading.meter_url.to_s %>

/uploads/reading/meter/18/2013-11-12_19.24.08.jpg  -->
