<%= div_for notification do%>

  <% case notification.notification_type %>
    <% when "invite" %>
     	<p>
     		<%= link_to notification.sender.name, user_path(notification.sender) %> heeft je uitgenodigd voor een <%= notification.battle.theme %> battle.
     	</p>
     	<%= link_to fa_icon("check", class:"notification_button_accept"), accept_notification_path(notification), method: :patch %>
     	<%= link_to fa_icon("times", class:"notification_button_decline"), notification, method: :delete, data: { confirm: 'Weet je het zeker?' } %> 
      
  	<% when "kick_request" %>
     	<p>
     		<%= link_to notification.sender.name, user_path(notification.sender) %> heeft je uit een <%= notification.battle.theme %> battle gekickt.
     	</p> 
     	<%= link_to fa_icon("check", class:"notification_button_accept"), accept_notification_path(notification), method: :patch %>
     	<%= link_to fa_icon("times", class:"notification_button_decline"), notification, method: :delete, data: { confirm: 'Weet je het zeker?' } %>      
  <% end %>
<% end %>
