<div class="invite">
	<%= form_for TeamRelation.new do |f| %>
        <%= f.hidden_field :status, value: "invited" %>
        <%= f.hidden_field :user_id, id: 'user_id' %>
        <%= f.hidden_field :battle_id, value: @battle.id %>
        <%= f.hidden_field :team, value: "host_team" %>
        <%= text_field_tag nil, nil, id: "invite_user", data: { autocomplete_source: users_path }, placeholder: "Zoeken teamleden", size: 63 %>
      <%#= link_to 'Invite', invite_team_relation_path(user, :battle_id => params[:id]), id: 'invite' %>
	<% end %>
</div>