<div class="battle_show">
    <table>
        <tr>
            <td>Fotouploads</td>
            <td>Eerste Meterstand</td>
            <td>Huidige Meterstand</td>
            <td>Besparing</td>
            <td>Gezinsgrootte</td>
        </tr>
        <% find_team_members(team).each do |team| %>
        <tr>
            <td><%= team.user.readings.where(battle_id: @battle.id).count %></td>
            <td><%= @henk = team.user.readings.where(battle_id: @battle.id).first.amount %></td>
            <td><%= team.user.readings.where(battle_id: @battle.id).last.amount %></td>
            <td><%= number_to_percentage(100 - (team.user.readings.where(battle_id: @battle.id).last.amount.to_f / 3500) * 100, :precision => 2)%></td>
			<td></td>
		</tr>
        <% end %>
		<tr class="blank_row">
		</tr>
		<tr>
			<td><%= @battle.readings.count %></td>
			<td><%= @begin_amount_sum %></td>
			<td><%= @current_amount_sum %></td>
			<td><%= number_to_percentage(@energy_savings_sum / 2, :precision => 2) %></td>
			<td></td>
		</tr>
    <table>
</div>