<h1>Prepare Battle</h1>
<div class="container">
	<div class="quarter_of_container">
		<h1>Upload foto</h1>
	</div>
	<div class="quarter_of_container">
		<h1>Team 1</h1>
		<div class="pusher">
			<% @host_team_members.each do |team|%>
				<div class="member">
					<%= team.user.first_name %>
					<%= team.user.email %>
				</div>
			<% end %>
		</div>
	</div>

	<div class="quarter_of_container">
		<h1>Team 2</h1>
		<div class="pusher">
			<% @opponent_team_members.each do |team|%>
				<div class="member">
					<%= team.user.first_name %>
					<%= team.user.email %>
				</div>
			<% end %>
		</div>
	</div>

	<div class="quarter_of_container">
		<h1>Upload foto</h1>
	</div>
	<%= button_to "Start Battle", start_battle_path(@battle), method: :patch if @battle.host_id == @current_user.id %>
</div>