<div class="pusher">
	<div class="subheading">Instellingen</div>
	<% if params[:status] == "Edit" %>
		<%= render 'edit_form'%>
	<% else %>
		<p>Titel: 			<%= @battle.title %></p>
		<p>Start Datum: 	<%= @battle.start_date.try(:strftime, "%d %B %Y") %></p>
		<p>Eind Datum: 		<%= @battle.end_date.try(:strftime, "%d %B %Y") %></p>
		<p>Spelers limiet: 	<%= @battle.player_limit %></p>
		<p>Thema: 			<%= @battle.theme %></p>
		<p>Spelvorm: 		<%= @battle.game_type %></p>

		<%= link_to "Wijzig instellingen", battle_path(@battle, :status => "Edit"), class: "primary-button" if current_user_is_host %>
	<% end %>
</div>

