<div id="battles">
	<%= render 'battles' %>
</div>	

<%= will_paginate @battles %>

	<% not_accepted.each do |t| %>
		<div>
			<%= t.battle_id %>
			<%= t.team %>
		</div>
	<% end %>
	
<%= link_to "Nieuwe battle", theme_path %>
