<% if @count_notifications %>
	Er zijn <%= @count_notifications %> notificaties.
	<div class="notifications">
		<%= render current_user.notifications %>
	</div>
<% end %>



<table cellpadding="5" cellspacing="5">
<thead>
  <tr>
	  <th>Thema</th>
	  <th>Status</th>
	  <th>Host name</th>
  </tr>
</thead>
<tbody>
	<% @battles.each do |s| %>
		<tr>
			<td><%= link_to s.theme, battle_path(s) %></td>
			<td><%= s.status %></td>
			<td><%= find_host(s.host_id).first_name %></td>
		</tr>
	<% end %>
</tbody>
</table>

<%= link_to "Nieuwe battle", new_battle_path %>


