<br>

<% if @count_notifications %>
	Er zijn <%= @count_notifications %> notificaties.
	<div class="notifications">
		<%= render current_user.notifications %>
	</div>
<% end %>

<br>

<div id="battles">
	<%= render 'battles' %>
</div>

<%= will_paginate @battles %>

<%= link_to "Nieuwe battle", theme_path %>
