<div class="subheading">Creër een battle</div>
<div class="col-4 battle_settings">
	<div class="subheading">Instellingen</div>
	<%= render 'edit_form'%>
</div>
<div class="col-8 omega-1">
	<div class="teams-header">
		<div class="col-4-of-8">
			<%= render "team_header", team: "host" %>
		</div>
		<div class="col-4-of-8 omega-1">
			<%= render "team_header", team: "opponent" %>
		</div>
	</div>
	<div class="col-4-of-8">
		<div class='member'>
			<%= @current_user.first_name %>
			<%= @current_user.email %>
		</div>
	</div>
	<div class="col-4-of-8">
	</div>
</div>
