<div class="heading">Creër een battle</div>
<div class="col-4 battle_settings">
	<div class="subheading">Instellingen</div>
	<%= render 'edit_form'%>
</div>
<div class="col-8 omega-1 teams-header">
	<div class="col-4-of-8">
		<%= render "team_members", team: "host" %>
		<div class='member'>
            <%= image_tag current_user.avatar %>
            <ul>
                <li><%= current_user.name %></li>
            </ul>
		</div>
	</div>
	<div class="col-4-of-8">
		<%= render "team_members", team: "opponent" %>
	</div>
</div>
