<% if @battle.status?("Start") %>
<div class="heading"> Battle: <%= @battle.title%> / Status: <%= @battle.status %></div>
    <div class="table_index">
        <table align="left" class="col-2">
            <tr>
                <td>Spelers</td>
            </tr>
            <% @battle.users.each do |s| %>
            <tr>
                <td>
                    <%= image_tag s.avatar %>
                    <%= s.name %>
                </td>
            </tr>
            <% end %>
        <table>
    </div>
    <div class="table_index">
        <table>
            <tr>
                <td>Bespaard (%)</td>
                <td>Aantal uploads</td>
                <td>Aantal personen in gezin</td>
                <td>Huidige KwH</td>
            </tr>
            <% @battle.users.each do |s| %>
            <tr>
                <td><%= s.name %></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <% end %>
        <table>
    </div>
<% else %>
<div class="col-4 battle_settings">
	<div class="subheading">Instellingen</div>
	<%= render "settings_battle" if @battle.status?("pending") %>
	<%= render "readings/upload_readings" if @battle.status?("Prepare") %>
</div>
<div class="col-8 omega-1 teams-header">
	<div class="col-4-of-8">
		<%= render "team_members", team: "host" %>
	</div>
	<div class="col-4-of-8">
		<%= render "team_members", team: "opponent" %>
	</div>
</div>

<%#= render "readings/upload_readings" if @battle.status?("Prepare")%>
<div class="col-12">
	<div class="pull-right"><%= render "status_button" if current_user_is_host %></div>
	<%= link_to "Terug naar battle overzicht", battles_path, class: "primary-button" %>
</div>
<% end %>