<h1><%= @battle.status %> Battle</h1>
<div class="quarter_of_container">
	<% if @battle.status == "Pending" %>
		<%= render "settings_battle" %>
	<% elsif @battle.status == "Prepare" %>
		<%= render "upload_readings" %>
	<% else %>
	<% end %>
</div>
<div class="quarter_of_container">
	<h1>Team 1</h1>
	<%= render "team_members", team: "host" %>
</div>
<div class="quarter_of_container">
	<h1>Team 2</h1>
	<%= render "team_members", team: "opponent" %>
</div>
<div class="quarter_of_container">
	<% if @battle.status == "Pending" %>
		<%= render "invite_team" %>
	<% elsif @battle.status == "Prepare" %>
		<%= render "upload_readings" %>
	<% else %>
	<% end %>
</div>
<%= render "status_button" %>