<div class="heading"><%= @battle.title %> / <%= @battle.status %></div>
<div class="col-4">
    <%= render "battles/sidebar_battle" %>
</div>
<% if @battle.status?('started') || @battle.status?('prepare') || @battle.status?('closing') %>
  <%= render 'battles/statistics/overview' %>
<% elsif @battle.status?('pending') %>
    <div class="col-8 omega-1 teams-header">
        <div class="col-4-of-8">
            <%= render "battles/users/team_members", team: "host" %>
        </div>
        <div class="col-4-of-8">
            <%= render "battles/users/team_members", team: "opponent" %>
        </div>
    </div>
<% elsif @battle.status?("finished") %>

	<%= image_tag('dirt.jpg', class: 'rotate') %>

	<div class="winner">
		<h1>Winnaar</h1>
	   <%= image_tag "#{@battle.winning_player.avatar}&height=130&width=130", class: 'rounded-img' %>
		<h2>Besparing</h2>
		<% readings = @battle.winning_player.readings.where(battle_id: @battle.id) %>
		<% savings = number_to_percentage(100 - (readings.last.amount.to_f / 3500) * 100, :precision => 2) if readings.any? %>
		
		
			<% if savings.to_f > 0 %>
				<span class='savings positive'>+ <%= savings %></span>
			<% elsif savings.to_f < 0 %>
				<span class='savings negative'><%= savings %></span>
			<% else %>
				<span class='savings'><%= savings %></span>
			<% end %>
		</span>
	</div>

<div class="heading">
  <%= @battle.title %><%= @battle.status %>
</div>

<% end %>
<div class="col-12">
  <div class="pull-right"><%= render "status_button" if current_user_is_host %></div>
  <%= link_to "Terug naar battle overzicht", battles_path, class: "primary-button" if @battle.status?("pending") || @battle.status?("prepare") %>
</div>
