<h1><%= @battle.status %> Battle</h1>
<div class="quarter_of_container">
	<%= render "settings_battle" if @battle.status?("Pending") %>
	<%= render "upload_readings" if @battle.status?("Prepare") %>
</div>
<div class="quarter_of_container">
	<h1>Team 1</h1>
	<%= render "team_members", team: "host" %>
</div>
<div class="quarter_of_container">
	<h1>Team 2</h1>
	<%= render "team_members", team: "opponent" %>
</div>
<div class="quarter_of_container">
	<%= render "invite_team" if @battle.status?("Pending")%>
	<%= render "upload_readings" if @battle.status?("Prepare")%>
</div>
<%= render "status_button" if current_user_is_host %>