<h1>Creer Single-player battle</h1>
<div id="grijs-vlak">
	<div id="blauw-vlak">
		<div id="form">
				<%= form_for @single_battle do |f| %>
			<% if @single_battle.host_id == @current_user.id %>
				<%= f.label :theme, "Theme" %>
				<%= f.select :theme, options_for_select([["Energy", "energy"], ["Dirt", "dirt"]]) %>
				<%= f.submit "Save battle options"%>
			<% else %>

			<% end %>
				<% end %>
		</div>
		<div class='member'>
			<%= @host.first_name %>
			<%= @host.email %>
		</div>
	</div>
	<div id="rood-vlak">
		<div class='member'>
			<%= button_to "Join", { controller: "single_battles" , method: :team_relation } %>
		</div>
	</div>

</div>