<h1>Single-player battle</h1>
<div id="grijs-vlak">
	<div id="blauw-vlak">
		<% @host_team_members.each do |o|%>
			<div class="member">
				<%= o.user.first_name %>
				<%= o.user.email %>
				<%= link_to "Leave", o, method: :delete, data: { confirm: "Wil je echt deze battle verlaten?"} %>
			</div>
		<% end %>
	</div>
	<div id="rood-vlak">
		<% @opponent_team_members.each do |o|%>
			<div class="member">
				<%= o.user.first_name %>
				<%= o.user.email %>
				<%= link_to "Leave", o, method: :delete, data: { confirm: "Wil je echt deze battle verlaten?"} %>
			</div>
		<% end %>
	</div>
	<div class="join_opponent"><%= render "team_relation/opponent_team_form" %></div>
	<div class="join_host"><%= render "team_relation/host_team_form" %></div>
</div>