<h1>Battle</h1>
<div class="container">
	<div class="quarter_of_container">
		<h1>Instellingen</h1>
		<p>Thema: <%= @single_battle.theme%></p>
	</div>
	<div class="quarter_of_container">
		<h1>Team 1</h1>
		<div class="members">
			<% @host_team_members.each do |team|%>
				<div class="member">
					<%= team.user.first_name %>
					<%= team.user.email %>
					<% unless team.user.id != @current_user.id %>
						<%= link_to "Leave", team, method: :delete, data: { confirm: "Wil je echt deze battle verlaten?"} %>
						<%= link_to "Switch teams", switch_team_relation_path(team), method: :patch %>
					<% end %>
				</div>
			<% end %>
		</div>
		<% if user_in_one_team %>
			<div class="join_button"><%= render "team_relation/host_team_form" %></div>
		<% end %>
	</div>

	<div class="quarter_of_container">
		<h1>Team 2</h1>
		<div class="members">
			<% @opponent_team_members.each do |team|%>
				<div class="member">
					<%= team.user.first_name %>
					<%= team.user.email %>
					<% unless team.user.id != @current_user.id %>
						<%= link_to "Leave", team, method: :delete, data: { confirm: "Wil je echt deze battle verlaten?"} %>
						<%= link_to "Switch teams", switch_team_relation_path(team), method: :patch %>
					<% end %>
				</div>
			<% end %>
		</div>
		<% if user_in_one_team %>
			<div class="join_button"><%= render "team_relation/opponent_team_form" %></div>
		<% end %>
	</div>

	<div class="quarter_of_container">
		<h1>Uitnodigen</h1>
		<%= render 'users/search_members' %>
	</div>
</div>