<% unless @battle.status == 'finished' %>
<div class="col-8 omega-1 box">
  <div class="col-4-of-8">
    <div class="settings-item"><%= @battle.start_date.strftime("%d-%B-%Y") %></div>
    <div class="settings-item"><%= @battle.end_date.strftime("%d-%B-%Y") %></div>
  </div>
  <div class="col-4-of-8">
    <div class="settings-item"><%= @battle.player_limit %> Spelers</div>
    <div class="settings-item"><%= @battle.duration %> Dagen</div>
  </div>
</div>
<% end %>

<% if @battle.status == 'finished' %>
	<% if params[:result] == 'personal' %>
	<div class="col-8 omega-1 teams-header">
		<div class="subheading">Persoonlijk</div>
		<%= render 'battles/statistics/personal_results' %>
	</div>
	<div class="col-8 omega-1 teams-header pull-right graph-margin">
		<%= render 'battles/statistics/graphs' %>
	</div>
	<% elsif params[:result] == 'team' %>
		<div class="subheading">Eigen team</div>
		<%= render 'battles/statistics/best_results' %>
		<%= render 'battles/statistics/graphs' %>
	<% end %>
<% end %>

<% unless params[:result] == 'personal' || params[:result] == 'team' %>
<div class="col-8 omega-1 teams-header">
  <div class="subheading">Team 1</div>
  <%= render "battle_show_table", team: "host" %>
  <div class="subheading">Team 2</div>
  <%= render "battle_show_table", team: "opponent" %>
</div>
<div class="col-8 omega-1 teams-header pull-right graph-margin">
	<%= render 'battles/statistics/graphs' %>
</div>
<% end %>
