<div class="col-8 omega-1 box">
    <div class="heading"> Battle: <%= @battle.title%> / Status: <%= @battle.status %></div>
    <div class="col-4-of-8">
        <div class="settings-item"><%= @battle.start_date.strftime("%d-%B-%Y") %></div>
        <div class="settings-item"><%= @battle.end_date.strftime("%d-%B-%Y") %></div>
    </div>
    <div class="col-4-of-8">
        <div class="settings-item"><%= @battle.player_limit %> Spelers</div>
        <div class="settings-item"><%= @battle.duration %></div>
    </div>
</div>

<div class="col-8 omega-1 teams-header">
    <div class="subheading">Team 1</div>
        <%= render "battle_show_table", team: "host" %>
    <div class="subheading">Team 2</div>
        <%= render "battle_show_table", team: "opponent" %>
        <% if current_user.readings.where(battle_id: @battle.id).count != 0 %>
            <%= content_tag :div, "", id: "personal-graph", data: {readings: Reading.personal_chart_data(@battle.start_date, @battle.end_date)} %>
            <%= content_tag :div, "", id: "overall-graph", data: {readings: Reading.overall_chart_data(@battle)} %>
        <% end %>
</div>