<div class="inner-header">
    <ul>
	    <% if user_signed_in? && current_user.parental_approval %>
	        <% [["Home", :root ], ["Battles", :theme]].each do |name,url| %>
	            <li><%= link_to_unless_current(name, url) do link_to name, url, class: "current"  end %></li>
	        <% end %>
	    <% end %>
    </ul>
    <div class="rightmenu pull-right">
        <% if user_signed_in? && current_user.parental_approval == true %>
            <%= image_tag current_user.avatar, class: "avatar" %>
            <%= link_to fa_icon("bell", class: "icon"), '#' %>
            <% if current_user.notifications.any? %>
	 	        <div class="badge"><%= current_user.notifications.count %></div>
            <% end %>
				  
        	    <div class="notifications-center">
                <div class="notch"></div>
                <div class="notifications">
						 <% if current_user.notifications.present? %>
							 <%= render current_user.notifications %>
						 <% else %>
							 <p>Er zijn geen notificaties</p>
						 <% end %>
					 </div>
    			</div>
            	<%= link_to fa_icon("bars", class: "icon", id: "menu"), '#' %>
        <% else %>

        <% end %>
	    <div class="st-menu st-effect-1" id="menu-1">
		    <div class="row">
			    <div class="span2 offset1" id="menu">
			 		<ul>
			 			<li>
			 				<%= link_to '#', class: 'Facebook' do %>
			 					<%= fa_icon('facebook-square', class: 'fa-fw') %> Facebook
			 				<% end %>					
			 				<ul>
			 					<li>
			 						<%= link_to destroy_user_session_path, :method => :delete, class: '' do %>
			 							<%= fa_icon('power-off', class: 'fa-fw') %> Uitloggen
			 						<% end %>
			 					</li>
			 					<li>
			 						<%= link_to '#', class: 'send_notifications' do %>
			 							<%= fa_icon('comment', class: 'fa-fw') %> Plaats een bericht
			 						<% end %>
			 					</li>
			 					<li>
			 						<%= link_to '#', class: 'invite_with_fb' do %>
			 							<%= fa_icon('users', class: 'fa-fw') %> Nodig vrienden uit via Facebook
			 						<% end %>
			 					</li>
			 					<li>
			 						<%= link_to '#', class: 'post_on_feed' do %>
			 							<%= fa_icon('comments', class: 'fa-fw') %> Plaats een bericht op je tijdlijn
			 						<% end %>
			 					</li>
			 				</ul>
			 			</li>
			 		</ul>
			    </div>
			</div>
	    </div>
        </div>			
     </div>
  </div>
</div>