<div class="inner-header">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><a href="/home/"> Profiel</a></li>
		<li><%= link_to "Battles", theme_path %></li>
		<li><a href="/home/"> Teams</a></li>
		<li><a href="/home/"> Spelers</a></li>
		<div class="pull-right">
			<%= link_to image_tag("Bell.svg"), '', class: "icon-bell" %>
			<div class="notification-center">
			<b class="notch"></b>
				<% if @count_notifications %>
				<div class="notifications">
		<%= render current_user.notifications %>
	</div>
<% end %>
			</div>
			<%= link_to image_tag("Menu.svg"), '', class: "icon-menu" %>
		</div>
	</ul>
</div>

