<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title><%= full_title(yield(:title)) %></title>
   
=======
  <title>Energybattle</title>
>>>>>>> 6b076323e60077828a9474b360097bb10f99dd47
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
